<html>
    <head>
        <title>Welcome page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div style="text-align: center;margin-top: 5%;">
            <h2>Hai welcome to Node Server Sent Events (SSE)</h2>
            <!-- <a href="/login" >Login</a> -->
            <div>
                <input type="text" name="name" id="user" placeholder="enter user name to add"/>
                <button id="add">Add User</button>
            </div>

            <div id="userData" style="margin-top: 3%;">
                <h4 style="display:inline;">Names: </h4><p id="names"></p>

                <label><b>Total: </b></label><p style="display: inline;" id="total">0</p>
            </div>
            <div>
                <input type="text" name="name" id="userid" placeholder="enter userid to add"/>
                <button id="userAdd">Add UserId</button>
            </div>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io("https://node-sse.osc-fr1.scalingo.io");
        socket.emit('connected', 201);
        socket.on("updatedStatus", (status) =>{
            alert("hey iam in");
            console.log(status);
        });
      </script>
    <script>
        $("#add").click(function(){
            //alert("Text: " + $("#user").val());
            //  adding name to the existing data.
            $.ajax({url: "/adduser", type:'POST', data:{'name':$("#user").val()}, success: function(result){
                $("#names").text(result.names);
                $("#total").text(result.total);
            }});
            
            $("#user").val('');
        });

        //  Onload retrive updated data.
        $.ajax({url: "/usersDat", success: function(result){
            $("#names").text(result.names);
            $("#total").text(result.total);
        }});
        //  getting data from server sent events.
        const eventSource = new EventSource('/users')

        eventSource.onmessage = (event) => {
            console.log(event.data);
            console.log("inside message");
            data = JSON.parse(event.data);
            console.log(data.names);
            $("#names").text(data.names);
            $("#total").text(data.total);
        };
        eventSource.onerror = () => {
            console.log("server closed");
            eventSource.close();
        };
        //testing socketio
        $("#userAdd").click(function(){
            //alert("Text: " + $("#user").val());
            //  adding name to the existing data.
            $.ajax({url: "/statusUpdated", type:'POST', data:{'userid':$("#userid").val()}, success: function(result){
                // $("#names").text(result.names);
                // $("#total").text(result.total);
                console.log("ok socket0");
            }});
            
            $("#userid").val('');
        });
        
        
    </script>
</html>
